# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.android-webcam-master.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\android-webcam-master (1)\android-webcam-master\.idea\.idea.android-webcam-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
